@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital@1&family=Oswald:wght@200;400&family=Sacramento&display=swap');
:root {
    --primary-color: rgb(13,106,134)
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background : var(--primary-color);
    padding : 0;
    margin : 0;
    font-family: 'Merriweather', serif;
    font-size : 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50 auto;
    background: #9750DF
}

form input,form label,form button{
    
    width: 100%;
    margin-bottom: 10px;
}

form input:focus {
    outline: 1px solid var(--primary-color)
}

form button:active {
    background: red;
} 